.header-component{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    margin: 2rem auto 1rem auto;

    .heading{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .backIcon{
            height: 20px;
            width: 20px;
            object-fit: contain;
            transform: rotate(180deg);
            cursor: pointer;
        }

        .title{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 3.6rem;
            color: #000000;
            margin-left: 16px;
        }
    }

    .sikshaIcon{
        height: 32px;
        object-fit: contain;
    }
}


@media screen and (max-width: 499px){
    .header-component{
        width: auto;
        padding: 12px 0px;
        margin: 2rem 2.4rem 1rem 1.6rem;
    
        .heading{
    
            .backIcon{
                height: 20px;
                width: 20px;
            }
    
            .title{
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                margin-left: 16px;
            }
        }
    
        .sikshaIcon{
            height: 32px;
        }
    }
}