.signup{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .label{
        display: block;
        // margin-bottom: 5px ;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #404040;
    }

    .loan-application{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 100%;
        border-radius: 5px;
        height: 45px;
        border: 1px solid #CACACA;
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .form-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .formDiv{
        margin-top: 15px;
        width: 40%;

        .css-b62m3t-container{
            .css-13cymwt-control{
                min-height: 52px;
                border-radius: 12px;
            }
        }
    }

    .loan-application-heading{
        font-size: 20px;
        font-weight: 600;
        margin-left: 10px;
    }

    .relation{
        width: 100%;
        // background: rgba(64, 64, 64, 0.05);
        border: 1px solid #CACACA;
        backdrop-filter: blur(2px);
        border-radius: 10px;
        height: 52px;
        position: relative;
    }

    .toggle-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 118px;
        gap: 10px;
        background: #8F14CC;
        border-radius: 10px;
        width: 100%;
        margin-top: 50px;
    }

    .backIcon{
        height: 20px;
        width: 20px;
        object-fit: contain;
        transform: rotate(180deg);
        cursor: pointer;
    }

    .adhoc-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 14rem;
    }
}



@media screen and(max-width: 499px){
    .signup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0px;

        .loan-application{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .form{
            margin-top: 10px;
        }

        .input{
            width: 100%;
            border-radius: 5px;
            height: 45px;
            border: 1px solid #CACACA;
            backdrop-filter: blur(2px);
            border-radius: 10px;
        }

        .form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
    
        .form-content{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    
        .formDiv{
            margin-top: 15px;
            width: 100%;
        }

        .relation{
            width: 100%;
            // background: rgba(64, 64, 64, 0.05);
            border: 1px solid #CACACA;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            height: 45px;
            position: relative;
        }

        .button-container{
            width: 100%;
            margin-bottom: 2rem;
        }
        .adhoc-header{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0px;
        }
    }
}    