.loan{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 72px;
    margin-top: 6rem;

    .student-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        gap: 25px;
        background: rgba(64, 64, 64, 0.1);
        border-radius: 8px;
        width: 100%;
        margin: 16px 12px ; 

        .student-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .student-label{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #404040;
            }

            .student-name{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                text-align: right;
                color: #000000;
            }

            .student-detail{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                text-align: right;
                color: #000000;
            }
        }
    }

    .amount-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        gap: 5px;
        background: #5654BF;
        border-radius: 10px;
        margin-top: 8px;

        .amount-label{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
        }
        .amount{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 118px;
        gap: 10px;
        background: #8F14CC;
        border-radius: 10px;
        width: 100%;
        margin-top: 50px;
    }

    .label{
        display: block;
        margin-bottom: 5px ;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #404040;
    }

    .loan-application{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input{
        width: 100%;
        border-radius: 5px;
        height: 45px;
        border: 1px solid #CACACA;
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .form-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .formDiv{
        margin-top: 15px;
        width: 40%;

        .css-b62m3t-container{
            .css-13cymwt-control{
                min-height: 52px;
                border-radius: 12px;
            }
        }
    }

    .loan-application-heading{
        font-size: 20px;
        font-weight: 600;
    }

    .relation{
        width: 100%;
        // background: rgba(64, 64, 64, 0.05);
        border: 1px solid #CACACA;
        backdrop-filter: blur(2px);
        border-radius: 10px;
        height: 52px;
        position: relative;
    }

    .button-container{
        width: 45%;
        align-self: center;
        margin-bottom: 1.2rem;
    }

    .toggle-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and(max-width: 499px){
    .loan{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 24px;
        margin-top: 0px;

        .loan-application{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .form{
            margin-top: 10px;
        }

        .input{
            width: 100%;
            border-radius: 5px;
            height: 45px;
            border: 1px solid #CACACA;
            backdrop-filter: blur(2px);
            border-radius: 10px;
        }

        .form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
    
        .form-content{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    
        .formDiv{
            margin-top: 15px;
            width: 100%;
        }

        .relation{
            width: 100%;
            // background: rgba(64, 64, 64, 0.05);
            border: 1px solid #CACACA;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            height: 45px;
            position: relative;
        }

        .button-container{
            width: 100%;
            padding-bottom: 2rem;
        }
    }
}