.button{
    align-items: center;
    // backdrop-filter: blur(4px);
    border-radius: 1.2rem;
    outline: none;
    border: none;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.button-primary{
    background: linear-gradient(90.78deg, rgba(74, 48, 175, 0.9) 0%, rgba(194, 40, 121, 0.9) 100%);
}

.button-secondary{
    background: rgba(255, 255, 255, 0.15);
    font-weight: 500 !important;
}

.button-big{
    width: 100%;
    padding: 1.4rem 1rem;
    align-self: stretch;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.button-small{
    width: 50%;
    padding: 1.2rem 1.6rem;
    align-self: flex-end;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.button-primary:active{
    background: linear-gradient(90.78deg, rgba(55, 25, 175, 0.9) 0%, rgba(182, 9, 101, 0.9) 100%);
}

.button-secondary:active{
    background: rgba(255, 255, 255, 0.034);
}

.disabled{
    pointer-events: none;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

@media screen and(max-width: 499px){
    .button-secondary{
        border-radius: 0;
        background: none;
        align-items: flex-end;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 0;
        margin: 0;

    }

    .button-secondary:hover{
        border-bottom: 2px solid #FFFFFF;
    }

    .button-big{
        font-size: 1.4rem;
        line-height: 2.1rem;
    }

    .button-small{
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}