.small-table{
    display: none;
    width: 100%;
    margin: 0 0 1rem 0;

    .thead{
        width: 100%;
        background: #404040;
        padding: 0.6rem 1.2rem;
        border-radius: 0.8rem 0.8rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 1.8rem;
        color: #FFFFFF;
    }

    .tbody{
        &::-webkit-scrollbar {
            display: none;
        }
        border-radius: 0 0 0.8rem 0.8rem;
        border: 1px solid #AEAEAE;
        background: #FFFFFF;
        overflow: hidden;
    }
}

@media screen and (max-width: 499px){
    .small-table{
        display: block;
    }
}