.tc{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    font-family: "Times New Roman", Times, serif;

    .tc-content{
        padding: 1.4rem 2.4rem;
        width: 80%;
        height: 80%;
        background: #FFFFFF;
        border: 1px solid #404040;
        backdrop-filter: blur(80px);
        border-radius: 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        overflow-y: scroll;
        overflow-x: hidden;
        color: #000000;

        .headline{
            font-size: 3rem;
            line-height: 3.3rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
        }

        .byline, p, ul li, .ol-li {
            font-size: 1.8rem;
            line-height: 2.3rem;
            font-weight: normal;
        }

        p, ul li, .ol-li{
            text-align: justify;
        }

        .byline{
            text-align: end;
        }

        p{
            margin: 1rem 0;
        }

        ol{
            padding: 0 0 0 2%;
        }

        a{
            color: #000000;
        }

        li{
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 600;
            margin: 1rem 0;
        }

        .close{
            font-size: 3.2rem;
            font-weight: 300;
            color: #404040;
            cursor: pointer;
            margin: 0 0 0 auto;
        }
    }
}

@media screen and(max-width: 499px){
    .tc{
        .tc-content{
            height: 75%;
            width: 85%;
            padding: 1rem 2rem;

            .headline{
                font-size: 1.8rem;
                line-height: 2.3rem;
                font-weight: 600;
                text-align: center;
            }

            .byline, p, ul li, .ol-li {
                font-size: 1.2rem;
                line-height: 2rem;
                font-weight: normal;
            }

            p, ul li, .ol-li{
                text-align: justify;
            }

            ul{
                padding: 0 0 0 6%;
            }

            .byline{
                text-align: end;
            }

            ol{
                padding: 0 0 0 6%;
            }

            li{
                font-size: 1.4rem;
                line-height: 2rem;
                font-weight: 600;
                margin: 0.5rem 0;
            }
        }
    }
}