.table{
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid #AEAEAE;
    border-spacing: 0;

    .thead{
        width: 100%;
        background: rgba(64, 64, 64, 1);
        padding: 1.5rem;
        border-radius: 0.8rem 0.8rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        th{
            flex: 1 1 0px;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #FFFFFF;
        }
    }

    .tbody{
        display: block;
        // overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        border-radius: 0 0 0.8rem 0.8rem;

        .row{
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            padding: 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #D2D1D1;

            td{
                flex: 1 1 0px;
            }

            .enach-status{
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.8rem;
                text-transform: uppercase;
            }

            .status{
                padding: 0.4rem 1.2rem;
                border-radius: 3.2rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.8rem;
                text-transform: uppercase;
            }
            .overdue{
                background: rgba(216, 35, 35, 0.1);
                color: #D82323;
            }
            .due{
                background: rgba(216, 133, 35, 0.1);
                color: #D88523;
            }
            .paid{
                background: rgba(119, 219, 38, 0.1);
                color: #285e09;
            }
            .upcoming{
                background: #E5F1FF;
                color: #4593F3;
            }
            .initiated{

            }
            .bounced{

            }
            .payment_in_progress{

            }
            .setup_done{

            }
            .setup_cancelled{

            }
        }

        // .row:hover{
        //     transform: scale(1.005);
        // }
    }

}

@media screen and (max-width: 499px){
    .table{
        display: none;
    }
}