.otp-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .input-field{
        width: 100%;
        padding: 1.6rem 2rem 1.6rem 2rem;
        background: rgba(42, 10, 98, 0.1);
        border-radius: 0.8rem;
        text-align: center;
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
        color: #FFFFFF;
    }
    .input-field:focus{
        outline: none;
    }
}

@media screen and(max-width:499px){
    .otp-container{
        .input-field{
            padding: 1.6rem 1rem 1.6rem 1rem;
        }
    }
}