* {
  box-sizing: border-box;
}

:root {
  --primary-light: #6699ff;
  --primary-base: #3377ff;
  --primary-dark: #0f5ef7;
  --white-outline: linear-gradient(120deg,rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0)); 
  --coloured-outline: linear-gradient(120deg, rgba(88, 59, 204, 0.9) 0%, rgba(207, 113, 163, 0.9) 100%);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.4);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:rgba(255, 255, 255, 0.4);
}

html {
  font-size: 10px;
  overflow: hidden;
  /* //   background: #eee center no-repeat fixed;
  // @media screen and (min-width: 400px) {
  //     font-size: 11px;
  // } */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(107.56deg, #4530B1 0%, #772AA1 58.85%, #CA1C7A 99.48%);
}

.credenc-loader{
  position: relative;
  top: 40%;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.fullscreen-loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0.1rem);
  background-size: auto;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-position-y: center;
  background-position-x: left;
}


.wrapper, .small-wrapper, .input-wrapper, .small-wrapper-colored{
  position: relative;

  &::before{
      content:"";
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0; 
      -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out; 
      mask-composite: exclude;
      pointer-events: none;
  }
}

.wrapper{
  &::before{
    border-radius:2.4rem; 
    padding:2px; 
    background:linear-gradient(120deg,rgba(255, 255, 255, 0.4) ,rgba(255, 255, 255, 0));
  }
}

.small-wrapper{
  &::before{
    border-radius:1.2rem; 
    padding: 1px; 
    background:linear-gradient(120deg,rgba(255, 255, 255, 0.4) 60%,rgba(255, 255, 255, 0) 100%);
  }
}

.small-wrapper-colored{
  &::before{
    border-radius:1.2rem; 
    padding: 2px; 
    background:linear-gradient(107.56deg, #4530B1 0%, #772AA1 58.85%, #CA1C7A 99.48%);
  }
}

.input-wrapper{
  width: 15%;
  margin: 0.8rem 0;

  &::before{
    border-radius:0.8rem;
    padding: 1px; 
    background:linear-gradient(150deg,rgba(255, 255, 255, 0.4) 0%,rgba(255, 255, 255, 0) 100%);
  }
}

@media screen and(max-width: 499px){

  body{
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .wrapper{
    all:revert;
    &::before{
      content: none;
    }
  }

  .small-wrapper-colored{
    all: revert;
    &::before{
      content: none;
    }
  }
}


@import "../src/components/home/home";
@import "../src/components/login/login";
@import "../src/components/elementalComponents/inputField/inputField";
@import "../src/components/elementalComponents/button/button";
@import "../src/components/elementalComponents/otpField/otpField";
@import "../src/components/elementalComponents/table/table";
@import "../src/components/elementalComponents/checkBox/checkBox";
@import "../src/components/elementalComponents/modal/modal";
@import "../src/components/elementalComponents/field/field";
@import "../src/components/success/success";
@import "../src/components/elementalComponents/collapsible/collapsible";
@import "../src/components/elementalComponents/smallTable/smallTable";
@import "../src/components/elementalComponents/collapsible/collapsibleInstallment";