* {
  box-sizing: border-box;
}

:root {
  --primary-light: #6699ff;
  --primary-base: #3377ff;
  --primary-dark: #0f5ef7;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.4);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:rgba(255, 255, 255, 0.4);
}

html {
  font-size: 10px;
  overflow: hidden;
  /* //   background: #eee center no-repeat fixed;
  // @media screen and (min-width: 400px) {
  //     font-size: 11px;
  // } */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  // background: linear-gradient(107.56deg, #4530B1 0%, #772AA1 58.85%, #CA1C7A 99.48%);
  background-image: url('../src/assets/background.png');
}

@import "../src/components/home/home";
@import "../src/components/login/login";
@import "../src/components/elementalComponents/inputField/inputField";
@import "../src/components/elementalComponents/button/button";
@import "../src/components/elementalComponents/otpField/otpField";
@import "../src/components/elementalComponents/table/table";
@import "../src/components/elementalComponents/checkBox/checkBox";
@import "../src/components/elementalComponents/modal/modal";
@import "../src/components/elementalComponents/field/field";
@import "../src/components/success/success";
