.autopay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 24px;

    .student-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        gap: 25px;
        background: rgba(64, 64, 64, 0.1);
        border-radius: 8px;
        width: 100%;
        margin: 16px 12px ; 

        .student-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .student-label{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #404040;
            }

            .student-name{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                text-align: right;
                color: #000000;
            }

            .student-detail{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                text-align: right;
                color: #000000;
            }
        }
    }

    .amount-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        gap: 5px;
        background: #5654BF;
        border-radius: 10px;
        margin-top: 8px;

        .amount-label{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
        }
        .amount{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .benefit-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 24px;

        .benefit-header{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
        }

        .benefit-list{
            width: 100%;

            .benefit-text{
                font-family: 'Poppins';
                font-style: normal;
                // font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                color: #000000;
            }
        }
    }

    .button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 118px;
        gap: 10px;
        background: #8F14CC;
        border-radius: 10px;
        width: 100%;
        margin-top: 50px;
    }

    .payment-card{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        border: 1px solid #AEAEAE;
        border-radius: 10px;
        margin-top: 24px;
        width: 100%;

        .payment-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 15px;
            gap: 24px;
            background: #404040;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;

            .header-text{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FFFFFF;
            }
        }

        .quarter-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;

            .quarter-header{
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 10px 10px 15px;
                gap: 10px;
                background: #FFFFFF;
                width: 100%;

                .quarter-label{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #404040;
                }
            }

            .fee-breakup{
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 20px;
                gap: 25px;
                background: rgba(64, 64, 64, 0.1);
                border-bottom: 1px solid #E1E1E1;  
                width: 100%;
                
                .fee-content{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px;
                    width: 100%;

                    .fee-content-text{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 18px;
                        color: #404040;
                    }
                }
            }
        }
    }
}