.collapsible-installment {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #FFFFFF;

    img{
        width: 2rem;
        height: 2rem;
        margin: 0;
    }

    .content {
        overflow: hidden;
        transition: display 1s ease-out;
        padding: 1.8rem 2rem;
        background: rgba(64, 64, 64, 0.1);
        color: rgba(64, 64, 64, 1);
        border-radius: 0;

        .pair{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0.4rem 0;
    
            .key{
                font-weight: 300;
                font-size: 1.2rem;
                line-height: 1.8rem;
                color: rgba(0, 0, 0, 0.6);
            }
    
            .value{
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 1.8rem;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .row{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.2rem;
    }

    .bold{
        font-weight: 500 !important;
    }

    .subline{
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: #000000;
    }

    .status{
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 1.3rem;
        text-transform: uppercase;
    }
    .overdue{
        background: rgba(216, 35, 35, 0.1);
        color: #D82323;
    }
    .due{
        background: rgba(216, 133, 35, 0.1);
        color: #D88523;
    }
    .paid{
        background: rgba(119, 219, 38, 0.1);
        color: #285e09;
    }
}