.collapsible {
  display: block;
  max-width: 49.9rem;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  img {
    width: 2rem;
    height: 2rem;
  }

  .content {
    overflow: hidden;
    transition: display 1s ease-out;
  }

  .header {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #ffffff;
  }

  .collapsible-row {
    background: #404040;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.2rem;

    .field {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: #ffffff;
    }

    .value {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: #ffffff;
      text-transform: capitalize;
    }
  }

  .dropdown-container{
    border: 1px solid #CACACA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;

    .dropdown {
      background: #ffffff;
      margin: 0;

      &:nth-child(even){
        border-top: 1px solid #CACACA;
        border-bottom: 1px solid #CACACA;
      }

      .value {
        color: #000000;
        font-weight: 500;
      }

      &:hover {
        background: #CACACA;
      }
    }
  }

  .selectable {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #ffffff;
    text-transform: capitalize;

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: #000;
    }
  }
}
